@charset "UTF-8";
/* CSS Document */
*{box-sizing: border-box; margin: 0; padding: 0}

body{font-family: 'Ubuntu', sans-serif; background-color:#E1D9DF}

/*Cabecera*/

header{width: 100%; height: 300px; background-color: #FFFFFF}

.logo img{width: 100%; max-width: 250px; display: block; margin: auto; padding-top: 20px}

.menu{display: flex;flex-direction: row; flex-wrap: nowrap; justify-content: space-around; background-color: #92589E; height: 45px}

.menu a{text-decoration: none; color: #FFFFFF; text-transform: uppercase; margin: auto}

a:hover{color: #BF85CD}


/*Informacion*/

.contenedor{width: 100%;}

.cajas{width: 100%; display: inline-block; display: flex; flex-wrap: wrap}

.iconos{margin-top: 50px; width: 280px; height: 200px; margin-left: 400px;}

.iconos img{ height: 30px;}

.iconos p{padding-top: 5px;}

.mail{display: block; display: flex; flex-direction: row; padding-top: 30px}

.mail p{padding-left: 30px}

.telefono{display: block; display: flex; flex-direction: row; padding-top: 30px}

.telefono img{padding-left: 5px}

.telefono p{padding-left: 35px}

.ubicacion{display: block; display: flex; flex-direction: row; padding-top: 30px}

.ubicacion img{padding-left: 7px}

.ubicacion p{padding-left: 45px}


/*Formulario*/

.formulario{ width: 350px; margin-top: 50px; margin-left: 100px; padding-top: 30px}

@media all and (max-width:1200px)
{.iconos{margin-left: 100px}}


/*Pie de pagina*/

.bottom-footer{background-color: #92589E; height: 40px; margin-top: 120px}

.bottom-footer p{color: white; font-size: 12px; text-align: center; padding-top: 15px}

